.introducao.cases-back {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/cases/cases.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: 80%; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  opacity: 0;
}

.cases-container {
 position: relative;
  width: 100vw;
  height: 100vh;
}

.intro-cases {
  position: absolute;
  right: 20px;
  bottom: 80px; /* Posiciona o contêiner 50% a partir do topo */
  z-index: 1;
  background: var(--primary); /* Adiciona um fundo semitransparente para melhor legibilidade */
  padding: 40px;
  border-radius: 20px;
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.intro-cases h1 {
  color: var(--textwhite);
  font: 700 2.5rem 'Raleway', sans-serif;
}

.intro-cases p {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
}

.intro-cases p a {
  color: var(--textwhite);
  font: 500 1rem/1.6 'Raleway', sans-serif;
}

.cases-lista {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.case h2 {
  color: var(--textwhite);
  font: 700 2rem 'Raleway', sans-serif;
  max-width: 25ch;
  margin-bottom: 10px;
}

.case a {
  font: 600 1rem/1.6 'Raleway', sans-serif;
  color: var(--textwhite);
  text-decoration: none; /* Remove o sublinhado */
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Espaço entre o texto e o triângulo */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito de escala */
}

.case a:hover {
  transform: scale(1.1); /* Aumenta o tamanho do link ao passar o mouse */
}

.case a::after {
  content: '';
  display: inline-block;
  border-style: solid;
  border-width: 6px 0 6px 10px; /* Triângulo apontando para a esquerda */
  border-color: transparent transparent transparent var(--primary);
}



.case {
  position: relative;
  width: 100vw;
  max-width: 100%; /* Ajuste conforme necessário */
  height: 600px; /* Ajuste conforme necessário */
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff; /* Define a cor do texto como branca */
  padding: 20px;
  background-color: #000 /* Fundo semitransparente para melhor legibilidade */
}

.case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.3; /* Ajuste a opacidade conforme necessário */
}

.case h2, .case p {
  position: relative;
  z-index: 1;
  text-align: left;
}

@media (max-width: 768px) {

  .intro-cases {
    background-color: rgba(248, 13, 142, 0.8);
    top: 50%; /* Centraliza verticalmente a partir do topo */
    left: 50%; /* Centraliza horizontalmente a partir da esquerda */
    transform: translate(-50%, -50%); /* Ajusta para centralizar o próprio tamanho do elemento */
    width: 90%;
  }

  .cases {
    border-radius: 20px;
    right: 20px;
    left: 20px;
    width: 100%;
  }

  .case {
    width: 100%;
    height: 300px;  
  }

  .case h2 {
    font-size: 1.5rem;
  }

}