.cases-home-background {
  /* background-color: var(--bg-escuro); */
  padding: 50px 20px;
  position: relative;
  z-index: 1;
}

.cases-home {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cases-home-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 20px;
  max-width: 40%;
}

.cases-home-texto h2  {
  font: 300 2.4rem 'Raleway', sans-serif;
  color: var(--textwhite);
}

.cases-home-texto h2 a  {
  font: 300 2.4rem 'Raleway', sans-serif;
  color: var(--textwhite);
}

.cases-home-texto p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  color: var(--primary);
  text-align: center;
}

.swiper-container.cases-slides {
  position: relative;
  flex: 0 0 100%; /* Define a largura como 60% */
  max-width: 100%; /* Garante que a largura máxima seja 60% */
  overflow: hidden;
  z-index: 3; /* Maior z-index, o SVG precisa ser menor que este */
  top: 0
}

.swiper-slide.slide-case img {
  width: 100%; /* Mantém alinhado com o texto */
  max-width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.swiper-button-prev, #prev2 {
  left: 60%; /* Ajuste conforme necessário */
  right: auto;
  z-index: 2;
  top: 64%;
}

.swiper-button-next, #next2 {
  right: 32%; /* Ajuste conforme necessário */
  left: auto;
  z-index: 2;
  top: 64%;
}

.swiper-pagination, #pagination2 {
  width: 60%;
}

.slide-case-texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-escuro);
  padding: 40px;
  border-radius: 0 0 20px 0;
  max-width: 70%; 
  min-height: 260px;
  z-index: 3;
  min-width: auto;
}

.slide-case-texto h3 {
  font: 600 1.4rem/1 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--primary);
}

.slide-case-texto p {
  font: 300 1rem/1.6 'Raleway', sans-serif;
  color: var(--textwhite);
}

.grade-rosa {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 99;
  max-width: 50%; 
  height: auto; /* Mantém a proporção */
}

.grade-rosa g {
  opacity: 0;
  transform: scale(0.8);
  transform-origin: center;
}

.swiper-slide.slide-case img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 1024px) {
  .swiper-slide.slide-case img {
      width: 70%;
      height: 380px; 
  }
}

@media (max-width: 768px) {

  .cases-home-background {
    padding: 0px 0px;
  }

  .cases-home-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    max-width: 100%;
  }

  .cases-home-texto h2 {
    font: 300 2rem 'Raleway', sans-serif;
    text-align: center;
  }
  
  .cases-home-texto p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: normal;
    color: var(--primary);
    text-align: center;
  }
  
  .swiper-slide.slide-case img {
    width: 100%;
    height: auto;
  }

  .slide-case-texto {
    max-width: 100%; 
    align-items: center;
    min-height: 350px;
    border-radius: 0 0 20px 20px;
    padding: 40px 20px;
  }

  .slide-case-texto h3,  .slide-case-texto p{
    text-align: center;
    text-align: center;
  }

  .swiper-container .swiper-button-prev.slide-case, 
.swiper-container .swiper-button-next.slide-case {
  bottom: 1%;
  top: auto; /* Remover a posição do topo */
}

.swiper-button-prev, #prev2  {
    left: 0;
    right: auto; /* Distância do canto direito mais a largura de um botão */
    top: 40%;
  }
  
  .swiper-button-next, #next2 {
    right: 0; 
    left: auto; 
    top: 40%;
  }

  .swiper-pagination, #pagination2 {
    width: 100%;
  }
}
