.clientes-background {
  padding: 50px 20px;
  position: relative;
  overflow-x: hidden;
}

.clientes {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logos-clientes {
  display: flex;
  white-space: nowrap;
}

.coluna-1, .coluna-2 {
  display: flex; /* Altera para flex para garantir que os logos fiquem lado a lado */
}

.logos-clientes img {
  width: auto;
  max-width: 100%;  /* Garante que a largura não ultrapasse o container */
  height: 260px;
  margin: 0 20px;
  background-color: var(--bg-escuro);
  padding: 20px;
  border-radius: 20px;
  object-fit: contain; /* Mantém a imagem dentro do espaço */
}

.setas-up {
  position: absolute;
  top: 0px;
  right: 60px;
  width: 160px;
  height: auto;
  z-index: -1;
}

@media (max-width: 768px) {

  .clientes-background {
    padding: 80px 20px;
  }

  .clientes {
    gap: 40px;
  }

  .setas-up {
    width: 100px;
    left: 50%;
    top: 30%;
    transform: translateY(-50%) translateX(-50%) scaleY(-1); 
    display: none
  }

  .logos-clientes img {
    height: 160px;
  }

  .setas-up {
    top: 60px;
  }
}