:root {
  --textwhite: #FAFAFA;
  --bg: #212121;
  --bg-escuro: #1A1A1A;
  --primary: #F80D8E;
  --primary-rgb: 248, 13, 142; /* Valores RGB da cor primária */
  --textwhite-rgb: 250, 250, 250; /* Exemplo de valores RGB para branco */
  --text-rgb: 0, 0, 0; /* Exemplo de valores RGB para branco */

}

.textwhite {
  color: var(--textwhite);
}

.bg {
  background-color: var(--bg);
}

/* Background Color */
.bg-escuro {
  background-color: var(--bg-escuro);
}

.primary {
  color: var(--primary);
}