body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, ul, li, a {
  will-change: opacity, transform;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.swiper-slide {
  user-select: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto;
  width: 100%; /* Faz o container ocupar toda a largura disponível */
  padding: 0 20px;
  box-sizing: border-box; /* Inclui padding na largura total */
}

/* ul {
  list-style: none;
} */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Adiciona suporte para espaçamento em branco */
}

.hidden-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 768px) {

  .svg-ponto-vista-container  {
    display: none;
  }
}