.introducao.vender-back {
  position: relative;
  width: 100vw;
  height: 60vh;
  background-image: url('../img/solucoes/solucoes-kottler.webp'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: top; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed;
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

.vender-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 20px;
}

.vender-container h2 {
  color: var(--textwhite);
  font: 600 1.6rem/1.6 'Raleway', sans-serif;
}

.vender-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com tamanhos iguais */
  grid-template-rows: auto auto; /* Duas linhas automáticas */
  gap: 80px 60px; /* 10px de gap vertical, 20px de gap horizontal */
}


.vender-item {
  flex: 1 1 30%; /* Ajusta para que cada item tente ocupar cerca de um terço da largura do contêiner */
  min-height: min-content;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  opacity: 0;
}

.vender-item img {
  width: 20%;
  height: auto;}

.vender-item h3 { 
  color: var(--primary);
  font: 600 1.2rem/1.4 'Raleway', sans-serif;
}

.vender-item h3 span { 
  color: var(--primary);
  font: 300 1.2rem/1.4 'Raleway', sans-serif;
}

.vender-item p {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
}

.solucoes-como-back {
  padding: 80px 20px;
}

.solucoes-como {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 40px;
  /* padding: 80px 20px; */
}

.solucoes-como h2 {
  color: var(--textwhite);
  font: 600 1.6rem/1.6 'Raleway', sans-serif;
}

.solucoes-como ul {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.solucoes-como li {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
  margin-left: 20px;
}

.solucoes-como p {
  color: var(--textwhite);
  font: 300 1rem/1.6 'Raleway', sans-serif;
}

.solucoes-como strong {
  color: var(--primary);
  font: 600 1rem/1.6 'Raleway', sans-serif;
}

@media (max-width: 768px) { /* Tablets e smartphones */

  .introducao.vender-back {
    height: 50vh;
  }

  .solucao-intro {
    background-color: rgba(248, 13, 142, 0.8);
    top: 53%; /* Centraliza verticalmente a partir do topo */
    left: 50%; /* Centraliza horizontalmente a partir da esquerda */
    transform: translate(-50%, -50%); /* Ajusta para centralizar o próprio tamanho do elemento */
    width: 90%;
  }
  
  .vender-lista {
    grid-template-columns: repeat(2, 1fr); /* Reduz para 2 colunas */
    gap: 20px 30px; /* Ajusta o espaçamento */
    align-items: center;
  }

  .vender-item h3, .vender-item p {
    text-align: center;
  }

  .solucoes-como {
    border: none;
    padding: 0;
  }

  .solucoes-como h2 {
    text-align: center;
  }
}

@media (max-width: 480px) { /* Smartphones menores */
  .vender-lista {
    grid-template-columns: 1fr; /* Uma única coluna */
    gap: 40px; /* Espaçamento menor */
  }

  .vender-item {
    align-items: center;
    gap: 15px; /* Ajusta o espaçamento entre os elementos */
  }

  .vender-item h3, .vender-item p {
    text-align: center;
  }
}